body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

form p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="checkbox"] {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #006326;
    color: rgb(255, 255, 255);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

tr:hover {
    background-color: #ffffff1d;
}

a {
    text-decoration: none;
}

.btn {
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.btn-editar {
    background-color: #2980b9;
}

.btn-editar:hover {
    background-color: #134d73;
}

.btn-remover {
    background-color: #c0392b;
}

.btn-remover:hover {
    background-color: #9c2f23;
}

.btn-adicionar {
    background-color: #00742c;
    display: inline-block;
    margin-top: 20px;
}

.btn-adicionar:hover {
    background-color: #016427;
}

.btn-lista {
    background-color: rgb(2, 154, 40);
    display: block;
    width: fit-content;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

form p {
    margin-bottom: 0%;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #555555;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}